<div class="contailner">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <%= notice %>
        <h2>「<%= @blog.title %>」のブログを編集する</h2>
        <%= render 'form' %>
    </div>
</div>